<%= render partial: 'messages' %>

<%= form_tag consultar_status_cadastro_path, id: 'form' do %>
	<%= fields_for @cliente do |f| %>
	  <div class="col-md-3">
	    <%= f.text_field 'cpf', {class: "form-control input-sm", placeholder: "CPF"} %>
	  </div>
    <% end %>
  <div class="col-md-1">
    <%= submit_tag "Consultar", {class: "btn btn-primary btn-sm"} %>
  </div>
<% end %>

<script type="text/javascript">
  $("#cliente_cpf").mask('999.999.999-99');
</script>