<%= form_for(@cliente,  url: locals[:url]) do |f| %>

  <div class="col-md-12" data-appear-animation="bounceInRight">
    <%= render partial: 'messages' %>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :nome, {class: "form-control input-sm", placeholder: "Nome completo"} %>
      </div>
      <div class="col-md-2">
        <%= f.text_field :ddd, {pattern: '^[0-9]{2}$', class: "form-control input-sm", placeholder: "DDD"} %>
      </div>
      <div class="col-md-4">
        <%= f.text_field :telefone, {pattern: '^[0-9]{4}-[0-9]{4}$', class: "form-control input-sm", placeholder: "Telefone"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <%= f.email_field :email, {class: "form-control input-sm", placeholder: "Email"} %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :cpf, {pattern: '^([0-9]{3}.){2}[0-9]{3}-[0-9]{2}$', class: "form-control input-sm", placeholder: "CPF"} %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :nascimento, {pattern: '^[0-9]{2}/[0-9]{2}/[0-9]{4}$', class: "form-control input-sm", placeholder: "Nascimento", value:@cliente.nascimento.strftime("%d/%m/%Y")} %>
      </div>
    </div>
  </div>
  Endereço:
  <div class="row">
    <div class="form-group">
      <div class="col-md-2">
        <%= f.text_field :cep, {pattern: "^[0-9]{2}.[0-9]{3}-[0-9]{3}$", class: "form-control input-sm", placeholder: "CEP"} %>
      </div>

      <div class="col-md-4">
        <%= f.text_field :cidade, {class: "form-control input-sm", placeholder: "Cidade"} %>
      </div>
      
      <div class="col-md-2">
        <%= f.text_field :estado, {class: "form-control input-sm", placeholder: "Estado"} %>
      </div>
      
      <div class="col-md-4">
        <%= f.text_field :bairro, {class: "form-control input-sm", placeholder: "Bairro"} %>
      </div>     
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.text_field :rua, {class: "form-control input-sm", placeholder: "Rua"} %>
    </div>
    <div class="col-md-2">
      <%= f.text_field :numero, {class: "form-control input-sm", placeholder: "Nº"} %>
    </div>
    <div class="col-md-4">
      <%= f.text_field :complemento, {class: "form-control input-sm", placeholder: "Complemento"} %>
    </div>
  </div>

  <br />
  <br />

  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <%= f.submit "OK", {class: "btn btn-primary btn-lg"} %>
        <%= link_to 'Voltar', clientes_path, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>

<% end %>

<script type="text/javascript">
  $('#cliente_cpf').mask('999.999.999-99');
  $('#cliente_telefone').mask('9999-9999');
  $('#cliente_nascimento').mask('99/99/9999');
  $('#cliente_cep').mask('99.999-999');
  $('#cliente_ddd').mask('99');
  $('#cliente_estado').mask('aa');
  $('#cpf_cartao').mask('999.999.999-99');
  $('#telefone_cartao').mask('9999-9999');
  $('#nascimento_cartao').mask('99/99/9999');
  $('#cep_cartao').mask('99.999-999');
  $('#ddd_cartao').mask('99');
  $('#estado_cartao').mask('aa');
  $('#validade_cartao').mask('99/9999')
  $('#parcelas').mask('9')
</script>