<%= form_for(@cliente, url: :public_cliente) do |f| %>

  <div class="col-md-12" data-appear-animation="bounceInRight">
    <div class="alert alert-warning fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a> <strong>Todos os campos</strong> são obrigatórios para se filiar
    </div>
        
    <div class="alert alert-success fade in">
      <a class="close" data-dismiss="alert" href="#">&times;</a>O pagamento será realizado <strong>após</strong> o cadastro
    </div>
    
    <%= render partial: 'messages' %>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <%= f.text_field :nome, {class: "form-control input-lg", placeholder: "Nome"} %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :sobrenome, {class: "form-control input-lg", placeholder: "Sobrenome"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-6">
        <%= f.email_field :email, {class: "form-control input-lg", placeholder: "Email"} %>
      </div>
      <div class="col-md-6">
        <%= f.text_field :cpf, {pattern: '^([0-9]{3}.){2}[0-9]{3}-[0-9]{2}$', class: "form-control input-lg", placeholder: "CPF"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <%= f.label :data_de_nascimento %><br>
      </div>
        <%= f.date_select(:nascimento,
          {order: [:day, :month, :year],
            prompt: { day: 'Dia', month: 'Mês', year: 'Ano' },
            use_month_names: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul',
              'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            start_year: 1930,
            end_year: 1996},
          {class: "form-control input-lg"}) %>

      <div class="col-md-6">
        <%= f.text_field :telefone, {pattern: '^\([0-9]{2}\) [0-9]{4}-[0-9]{4}$', class: "form-control input-lg", placeholder: "Telefone"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-3">
        <%= f.text_field :cep, {pattern: "^[0-9]{2}.[0-9]{3}-[0-9]{3}$", class: "form-control input-lg", placeholder: "CEP"} %>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-4">
        <%= f.select :estado,
          options_for_select(['Estado', 'AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES',
            'GO', 'MA', 'MG', 'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN',
            'RO', 'RR', 'RS', 'SC', 'SE', 'SP', 'TO'], 'Estado'), {},
            {class: "form-control input-lg"}%>
      </div>

      <div class="col-md-6">
        <%= f.text_field :cidade, {class: "form-control input-lg", placeholder: "Cidade"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.text_field :endereco,
        {rows: "2", style: "height: 85px;", class: "form-control input-lg", placeholder: "Endereço"} %>
    </div>
  </div>

  <p> </p>

  <%= check_box_tag :aceite %> <span> Li e concordo com os Termos</span>

  <p> </p>

  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <%= f.submit "Cadastrar", {class: "btn btn-primary btn-lg"} %>
      </div>
    </div>
  </div>

<% end %>

<!-- Script abaixo toma os elementos dia, mês e ano (gerados por date_select) e os envolve com
  a classe que os deixam na mesma linha -->
<script type="text/javascript">
  $('select[id*="cliente_nascimento"]').wrap('<div class="col-md-2 col-sm-3 col-xs-4">');
</script> 

<!-- Scripts abaixo criam máscara para formulário -->
<script type="text/javascript">
  $('#cliente_cpf').mask('999.999.999-99');
  $('#cliente_telefone').mask('(99) 9999-9999');
  $('#cliente_cep').mask('99.999-999');
</script>