<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title("Listar Clientes") %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<h2>Clientes</h2>

<div class="table-responsive">
  <table id="datatable" class="table table-striped table-hover text-center">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Cpf</th>
        <th>Nascimento</th>
        <th>Telefone</th>
        <th>Cep</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Endereco</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clientes.each do |cliente| %>
        <tr>
          <td><%= cliente.nome %></td>
          <td><%= cliente.sobrenome %></td>
          <td><%= cliente.email %></td>
          <td><%= cliente.cpf %></td>
          <td><%= cliente.nascimento %></td>
          <td><%= cliente.telefone %></td>
          <td><%= cliente.cep %></td>
          <td><%= cliente.estado %></td>
          <td><%= cliente.cidade %></td>
          <td><%= cliente.endereco %></td>
          <td><%= link_to icon("search-plus", '', class: "fa-2x", title: "Consultar"), cliente %></td>
          <td><%= link_to icon("pencil-square", '', class: "fa-2x", title: "Editar"), edit_cliente_path(cliente) %></td>
          <td><%= link_to icon("trash-o", '', class: "fa-2x", title: "Excluir"), cliente, method: :delete, data: { confirm: 'Deletar registro?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Cadastrar', new_cliente_path, class: 'btn btn-primary' %>
<%= link_to 'csv', clientes_path(format: :csv), class: 'btn btn-default' %>


