<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title("Listar Clientes") %></title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<h2>Clientes</h2>

<div class="row">
    <%= render partial: 'messages' %>
</div>

<div class="table-responsive">
  <p>
    <%= link_to 'TODOS', clientes_path, class: 'btn btn-primary' %>
    <%= link_to 'ATIVOS', clientes_path(filter: :ativos), class: 'btn btn-primary' %>
    <%= link_to 'INATIVOS', clientes_path(filter: :expirados), class: 'btn btn-primary' %>
    <%= link_to 'AGUARDANDO PAGAMENTO', clientes_path(filter: :aguard_pag), class: 'btn btn-primary' %>
  </p>
  <table id="example" cellspacing="0" class="display table table-striped table-hover text-center" width="100%">
    <thead>
      <tr>
        <th>Registro</th>
        <th>Plano</th>
        <th>Vigência</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Cpf</th>
        <th>Telefone</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th>Cupom</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @clientes.each do |cliente| %>
        <tr>
          <td><%= cliente.registro %></td>
          <td><%= cliente.plano.nome if cliente.plano %></td>
          <td><%= cliente.expira_em %></td>
          <td><%= cliente.nome %></td>
          <td><%= cliente.email %></td>
          <td><%= cliente.cpf %></td>
          <td><%= "(#{cliente.ddd}) #{cliente.telefone}" %></td>
          <td><%= cliente.estado %></td>
          <td><%= cliente.cidade %></td>
          <td><%= cliente.cupom %></td>
          <td><%= link_to icon('money', '', class: 'fa-2x', title: "Pagamentos"), raw("#pagModal#{cliente.id}"), 'data-toggle'=>"modal" %>

          <div id="pagModal<%= cliente.id%>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
              <div class="modal-header">
                <h3 id="pagModalLabel<%= cliente.id%>"> Pagamentos de <%= cliente.nome.upcase! %></h3>
              </div>

              <div class="modal-body">
                <table>
                  <thead>
                    <tr>
                      <th>Data</th>
                      <th>Operação</th>
                      <th>Valor</th>
                      <th>Plano</th>
                      <th>Vigência</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% cliente.historicos.each do |historico| %>
                      <tr>
                        <td><%= historico.created_at.strftime("%Y/%m/%d") %></td>
                        <td><%= historico.status_transacao_pag_seguro.description %></td>
                        <td><%= number_to_currency(historico.valor, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
                        <td><%= historico.plano.nome %></td>
                        <td><%= cliente.expira_em.strftime("%Y/%m/%d") %></td>
                    <% end %>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
            </div>
          </td>
          <td>
            <%= link_to icon("eye", '', class: "fa-2x", title: "Atividades"), raw("#myModal#{cliente.id}"), 'data-toggle'=>"modal" %>
            <div id="myModal<%= cliente.id%>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-sm">
                <div class="modal-content">
              <div class="modal-header">
                <h3 id="myModalLabel<%= cliente.id%>"> Atividades de <%= cliente.nome.upcase! %></h3>
              </div>

              <div class="modal-body">
                <table>
                  <thead>
                    <tr>
                      <th>Total</th>
                      <th>Desconto</th>
                      <th>Pago</th>
                      <th>Parceiro</th>
                      <th>Data (AA/MM/DD)</th>
                    </tr>
                  </thead>

                  <tbody>
                    <% cliente.atividades.each do |atividade| %>
                      <tr>
                        <td><%= number_to_currency(atividade.preco_total, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
                        <td><%= number_to_currency(atividade.valor_desconto, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
                        <td><%= number_to_currency(atividade.preco_total - atividade.valor_desconto, :unit => "R$ ", :separator => ",", :delimiter => ".") %></td>
                        <td><%= atividade.user.username if atividade.user %></td>
                        <td><%= atividade.created_at.strftime("%Y/%m/%d") %></td>
                    <% end %>
                  </tbody>
                </table>
              </div>
              </div>
            </div>
            </div>

          </td>
          <td><%= link_to icon("search-plus", '', class: "fa-2x", title: "Consultar"), cliente %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Cadastrar', new_admin_cliente_path, class: 'btn btn-primary' %>
<%= link_to 'csv', clientes_path(format: :csv), class: 'btn btn-default' %>
