<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title("Cadastre-se no Clube de Vantagens") %> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<div class="main" role="main">
  <div id="content" class="content page-content full">
    <div class="container">
      <div class="row">
        <div class="parceiro col-md-12">
          <div class="col-md-8">
            <h2>Cadastro</h2>
            <%= render 'form_sem_pagamento' %>
          </div>
          <!-- Start Sidebar -->
          <div class="col-md-4 sidebar right-sidebar padding-tb75">
            <h3 class="push-top">Plano <%= session[:plano_nome].humanize %></h3>
            <ul>
              <li></i> Preço: R$ <%= session[:plano_preco] %></li>
              <li></i> Vigência: <%= session[:plano_vigencia] %> dias </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>