<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title("Cliente") %> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<h2>Cliente</h2>

<div class="row">
    <%= render partial: 'messages' %>
</div>

<div class="form-group">
  <strong> Registro: </strong> <%= @cliente.registro %>
</div>

<div class="form-group">
  <strong> Nome: </strong> <%= @cliente.nome %>
</div>

<div class="form-group">
  <strong> Email: </strong> <%= @cliente.email %>
</div>

<div class="form-group">
  <strong> CPF: </strong> <%= @cliente.cpf %>
</div>

<div class="form-group">
  <strong> Nascimento: </strong> <%= @cliente.nascimento.strftime("%Y/%m/%d") %>
</div>

<div class="form-group">
  <strong> Telefone: </strong> (<%= @cliente.ddd %>) <%= @cliente.telefone %>
</div>

<div class="form-group">
  <strong> Endereço: </strong> <%= "#{@cliente.rua}, nº #{@cliente.numero}, #{@cliente.complemento} - Bairro #{@cliente.bairro}. #{@cliente.cidade}/#{@cliente.estado} - #{@cliente.cep}" %>
</div>

<div class="form-group">
  <strong> Vigência: </strong> <%= @cliente.expira_em.strftime("%Y/%m/%d") if @cliente.expira_em %>
</div>

<div class="form-group">
  <p>
    <%= link_to('Voltar', clientes_path, class: 'btn btn-primary') %>
    <%= link_to('Editar', edit_cliente_path, class: 'btn btn-primary') %>
    <span align="right">
      <%= link_to('Excluir', cliente_path, method: 'delete', data: { confirm: 'Deletar registro?' }, class: 'btn btn-danger') %>
    </span>
  </p>
</div>