<%= form_tag checkout_path, id: :form do %>

  <div class="row">
    <div class="form-group">
      <div class="col-md-4 col-sm-4">
        <%= text_field_tag 'numeroCartao', nil, {id: 'numeroCartao', name: 'checkout[numeroCartao]', class: "form-control input-lg", placeholder: 'Número do cartão', maxlength: '19', onchange: "get_bandeira()"} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-4 col-sm-4">
        <%= text_field_tag 'mesValidadeCartao', nil, {id: 'mesValidadeCartao', name: 'checkout[mesValidadeCartao]', class: "form-control input-lg", placeholder: 'MM', maxlength: '2'} %>
        <%= text_field_tag 'anoValidadeCartao', nil, {id: 'anoValidadeCartao', name: 'checkout[anoValidadeCartao]', class: "form-control input-lg", placeholder: 'AA', maxlength: '4'} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-4 col-sm-4">
        <%= text_field_tag 'cvv', nil, {id: 'cvv', name: 'checkout[cvv]', class: "form-control input-lg", placeholder: 'Código de segurança', maxlength: '3'} %>
      </div>
    </div>
  </div>

  <%= hidden_field_tag 'bandeiraCartao', nil, {id: 'bandeiraCartao', name: 'checkout[bandeiraCartao]'} %>
  <%= hidden_field_tag 'tokenIdentificadorCartao', nil, {id: 'tokenIdentificadorCartao', name: 'checkout[tokenIdentificadorCartao]'} %>
  <%= hidden_field_tag 'identicadorComprador', nil, {id: 'identicadorComprador', name: 'checkout[identicadorComprador]'} %>

  <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <%= submit_tag "Confirmar o pagamento", {class: "btn btn-primary btn-lg"} %>
        </div>
      </div>
    </div>
<% end %>


<script type="text/javascript"
	src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js">
</script> 
<script type="text/javascript"> 
	PagSeguroDirectPayment.setSessionId("<%= @id_sessao %>");
</script>

<script type="text/javascript">

$(function() {
  $('#form').submit(function() {
      console.log("Função do form acionada!!!")
      cartao()
      $("#identicadorComprador").val(get_hash())
      return true; // return false to cancel form action
  });
});

function get_bandeira(){
  console.log("Função get_bandeira acionada!!!")
  PagSeguroDirectPayment.getBrand({ 
    cardBin: $("#numeroCartao").val(), 
    success: function(response) {
      $("#bandeiraCartao").val(response["brand"]["name"])
    }, 
    error: function(response) { 
    }, 
    complete: function(response) { 
    } 
  });
}

function cartao(){
  console.log("Função cartao() acionada!!!")
  PagSeguroDirectPayment.createCardToken({ 
   cardNumber: $("#numeroCartao").val(), 
   brand: $("#bandeiraCartao").val(), 
   cvv: $("#cvv").val(), 
   expirationMonth: $("#mesValidadeCartao").val(), 
   expirationYear: $("#anoValidadeCartao").val(), 
   success: function(response) {
    console.log("sucesso")
    console.log(response)
      $("#tokenIdentificadorCartao").val(response["card"]["token"])
    }, 
   error: function(response) { 
    console.log("erro")
    console.log(response)
    }, 
    complete: function(response) { 
      console.log("complete")
      console.log(response)
    } 
  });
}

function get_hash(){
  console.log("Função get_hash() acionada!!!")
  return PagSeguroDirectPayment.getSenderHash();
}
</script>
