<%= form_for @email do |f| %>

  <div class="row">
    <div class="col-md-6" data-appear-animation="bounceInRight">
      <%= render partial: 'messages' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-10 col-sm-10">
        <%= f.text_field :assunto, {id: 'assunto', class: "form-control input-lg", placeholder: 'Assunto'} %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group">
      <div class="col-md-10 col-sm-10">
        <%= f.text_area :body, {id: 'body', class: "form-control input-lg", placeholder: 'Corpo do Email (aceita HTML)'} %>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="form-group">
        <div class="col-md-12">
          <%= f.submit "OK", {class: "btn btn-primary btn-lg"} %>
          <%= link_to 'Cancelar',  clientes_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
<% end %>
