<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title() %> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "users" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<div class="page-header">
  <h1> Exibir Parceiro </h1>
</div>

<div class='form-horizontal'>
  <div class="row">
    <div class="form-group">
      <div class="col-md-4 col-sm-4 pull-left">
        <p class='text-left'> <strong> Usuário: </strong> <%= @user.username %> </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-4 col-sm-4">
        <p class='text-left'> <strong> Senha: </strong> <%= @user.password_digest %> </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="form-group">
      <div class="col-md-4 col-sm-4">
        <p>
          <%= link_to('Voltar', users_path, class: 'btn') %>
          <%= link_to('Editar', edit_user_path, class: 'btn') %>
          
      </p>
      </div>
    </div>
  </div>