<% content_for :head do %>
  <head>
  <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title("Parceiro") %> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

<h2>Parceiro</h2>

<div class="row">
    <%= render partial: 'messages' %>
</div>

<div class="form-group">
  <strong> Usuário: </strong> <%= @user.username %>
</div>

<div class="form-group">
  <strong> Senha: </strong> <%= @user.password_digest %>
</div>

<div class="form-group">
  <strong> Papel: </strong> <%= @user.role.description %>
</div>

<div class="form-group">
  <p>
    <%= link_to('Voltar', users_path, class: 'btn btn-primary') %>
    <%= link_to('Editar', edit_user_path, class: 'btn btn-primary') %>
    <span class="btn-right">
      <%= link_to('Excluir', user_path, method: 'delete', data: { confirm: 'Deletar registro?' }, class: 'btn btn-danger') %>
    </span>
  </p>
</div>