<%= form_tag atividades_new_path do |f| %>

  <div class="row">
    <div class="col-sm-4" data-appear-animation="bounceInRight">
      <%= render partial: 'messages' %>
    </div>
  </div>

  <div id="div_butt_mask" class="row">
    <div class="form-group">
      <div class="col-md-6 col-sm-6">
        <%= button_tag(type: 'button', onclick: 'change_mask(this)', id: 'cpf', class: "btn btn-primary btn-lg") do %>
          <%= content_tag(:strong, 'CPF') %>
        <% end %>

        <%= button_tag(type: 'button', onclick: 'change_mask(this)', id: 'reg', class: "btn btn-primary btn-lg") do %>
          <%= content_tag(:strong, '#Registro') %>
        <% end %>

        <%= button_tag(type: 'button', onclick: 'change_mask(this)', id: 'card', class: "btn btn-primary btn-lg") do %>
          <%= content_tag(:strong, 'Cartão') %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" id="errors" style="display:none">
    <div class="form-group">
      <div class="col-sm-4">
        <div class="red-color-text">
          <p>Cliente inexistente.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-sm-6">
        <div id="dadosCliente" style="display:none" class="parceiro">
          <div class="col-sm-6">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="div_id" class="row" style="display:none">
    <div class="form-group">
      <div class="col-md-4">
        <%= text_field_tag 'id', nil, {id: 'id', name: 'atividade[id]', class: "form-control input-md", autocomplete: "off" } %>
      </div>
    </div>
  </div>

  <div id='divValores' style='display:none'>
    <div class="row">
      <div class="form-group">
        <div class="col-md-4">
          <%= number_field_tag :total, nil, {id: 'total', name: 'atividade[preco_total]', class: "form-control input-md", placeholder: 'Total', onchange: 'calcula_valor_a_pagar()', step: '0.01', min: 0, autocomplete: "off"} %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="form-group">
        <div class="col-lg-4">
          <%= number_field_tag :desconto, nil, {id: 'desconto', name: 'atividade[valor_desconto]', class: "form-control input-md", placeholder: 'Desconto', onchange: 'calcula_valor_a_pagar()', step: '0.01', min: 0, autocomplete: "off"} %>
        </div>
      </div>
    </div>

    <div class="row">
    <div class="form-group">
      <div class="col-sm-8">
        <div id="valorAPagar" style="display:none">
          
        </div>
      </div>
    </div>
  </div>

    <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <%= submit_tag "Registrar", {id:"submit", class: "btn btn-primary btn-md", disabled: true} %>
          <%= link_to 'Cancelar',  atividades_new_path, class: 'btn btn-danger btn-md' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">

  $('#id').mask('999.999.999-99', {'completed':function(){find_client();}});

  function change_mask(element){
    $("#div_id").show()
    $("#divValores").hide();
    $('#id').unmask();
    $('#id').val("");
    $("#nome_cliente").remove()
    $("#status_cliente").remove()
    $("#errors").hide()
    $('#id').focus();

    if(element.id == "cpf"){
      $("#id").attr("placeholder", "CPF");
      $('#id').mask('999.999.999-99', {'completed':function(){find_client();}});
    }else if(element.id == "reg"){
      $("#id").attr("placeholder", "#Registro");
      $('#id').mask('#9999999999', {'completed':function(){find_client();}});
    }else{
      $("#id").attr("placeholder", "Cartão");
      $('#id').mask('99.999.999', {'completed':function(){find_client();}});
    }
  }

  function calcula_valor_a_pagar(){
    $("#valor_a_pagar").remove()
    $("#valorAPagar").append("<h4 id=valor_a_pagar> Valor a Pagar: R$" + ($("#total").val() - $("#desconto").val()).toFixed(2) + "</h4>")
  }

  (function () {
    $('#total').on('change keypress paste focus textInput input', function () {
      var sanitized = $(this).val().replace(/[^0-9.]/g, '');
      sanitized = sanitized.replace(/\.(?=.*\.)/, '');
      $(this).val(sanitized);
      calcula_valor_a_pagar()
    });
  }());

  (function () {
    $('#desconto').on('change keypress paste focus textInput input', function () {
      var sanitized = $(this).val().replace(/[^0-9.]/g, '');
      sanitized = sanitized.replace(/\.(?=.*\.)/, '');
      $(this).val(sanitized);
      calcula_valor_a_pagar()
    });
  }());


  function find_client(){
    $.ajax({
        url: '/client',
        type: "POST",
        dataType: "json",
        data: {id: $("#id").val()},
        error: function(response){
        },
        success: function(response){
          if(response.client == null){
            $("#errors").show()
            $("#dadosCliente").hide()
            $("#divValores").hide();
            $("#submit").prop("disabled", true);
            $("#nome_cliente").remove()
            $("#status_cliente").remove()
          }
          else{
            $("#div_butt_mask").hide()
            $("#errors").hide()
            $("#nome_cliente").remove()
            $("#status_cliente").remove()
            $("#dadosCliente").append("<h4 id=nome_cliente> Cliente: " + response.client.nome + "</h4>")
            $("#dadosCliente").show()
            if (response.client.expira_em == null){
              $("#dadosCliente").append("<h4 id=status_cliente> Status: Aguardando Pagamento </h4>")
              $("#divValores").hide();
              $("#submit").prop("disabled", true);
            }
            else if (new Date() <= new Date(response.client.expira_em + "(BRT)")){
              calcula_valor_a_pagar()
              $("#valorAPagar").show();
              $("#dadosCliente").append("<h4 id=status_cliente> Status: Ativo </h4>")
              $("#divValores").show();
              $("#submit").removeAttr("disabled");
              $('#total').focus();
            } else{
              $("#dadosCliente").append("<h4 id=status_cliente> Status: Inativo </h4>")
              $("#divValores").hide();
              $("#submit").prop("disabled", true);
            }
          }
        }
    });   
  }

</script>