<ul class="sf-menu">
  <li class="nav-header"> Menu </li>
  <li> <%= link_to 'Clientes', clientes_path %> </li>
  <li> <%= link_to 'Parceiros', users_path %> </li>
  <li> <%= link_to 'Atividades', atividades_path %> </li>
  <ul class="dropdown">
    <li> <%= link_to '#' do %> Emails <%= icon('angle-down') %> <% end %>
        <ul class="dropdown">
            <li> <%= link_to 'Plano Expirando', email_expiracao_plano_path %> </li>
            <li> <%= link_to 'Cadastro Realizado', email_cadastro_efetuado_path %> </li>
            <li> <%= link_to 'Pagamento Recebido', email_pagamento_recebido_path %> </li>
        </ul>
    </li>
  </ul>  
</ul>