<% content_for :head do %>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--******-->
    <!-- Basic Page Needs
      ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> <%= full_title("O Clube de Vantagens mais Completo") %> </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
      ================================================== -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <!-- CSS
      ================================================== -->
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- SCRIPTS
      ================================================== -->
  </head>
<% end %>

  <div class="main pages" role="main">
    <div class="content full">
      <div class="rev-slider-container">
        <div class="tp-banner-container">
          <div class="tp-banner-full">
            <ul>
                          
                 <!-- SLIDE2  -->
              <li data-transition="fade" data-slotamount="6" data-masterspeed="200" data-delay="7000" > 
                <!-- MAIN IMAGE --> 
                <%= image_tag("gourmet.jpg", alt: "Societo Clube de Vantagens") %>
                <!-- LAYERS --> 
            <div class="caption lft ltt tp-caption start" data-x="75" data-y="180" data-speed="600" data-start="800" data-easing="easeOutExpo"                    style="-webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 164.5px; top: -28px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;"> <%= image_tag("white_line.jpg", alt: "", style: "width: 290px; height: 3px;") %>
            </div>
            <div class="caption lft ltt tp-caption start" data-x="800" data-y="180" data-speed="600" data-start="1000" data-easing="easeOutExpo" style="-webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 889.5px; top: -28px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;"> <%= image_tag("white_line.jpg", alt: "", style: "width: 290px; height: 3px;") %>
            </div>
                        <div class="medium_text tp-caption start" data-x="500" data-y="180" data-speed="600" data-start="1200" data-easing="easeOutExpo" style="font-size: 32px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; -webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 514.5px; top: -45px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;">SOCIETO
                        </div>
                        <div class="very_large_text tp-caption start" data-x="70" data-y="260" data-speed="600" data-start="1500" data-easing="easeOutExpo" style="font-size: 100px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; -webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 159.5px; top: 1063px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;">ECONOMIZE ATÉ 50%
                        </div>
            <div class="large_text tp-caption start" data-x="73" data-y="360" data-speed="600" data-start="1700" data-easing="easeOutExpo" style="font-size: 60px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; -webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 229.5px; top: 1063px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;">SEM MUDAR SEU ESTILO DE VIDA
                        </div>
            <div class="caption lfb ltb tp-caption start" data-x="75" data-y="435" data-speed="600" data-start="1800" data-easing="easeOutExpo" style="-webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 164.5px; top: 1063px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;"> <%= image_tag("white_big_line.jpg", alt: "", style: "width: 1010px; height: 3px;") %>
            </div>
              </li>
               <!-- SLIDE 2 -->
              <li data-transition="fade" data-slotamount="6" data-masterspeed="200" data-delay="7000" > 
                <!-- MAIN IMAGE --> 
                <%= image_tag("gourmet5.jpg") %>
                <!-- LAYERS --> 
            <div class="caption lft ltt tp-caption start" data-x="75" data-y="180" data-speed="600" data-start="800" data-easing="easeOutExpo" style="-webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 164.5px; top: -28px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;"> <%= image_tag("white_line.jpg", alt: "", style: "width: 290px; height: 3px;") %>
            </div>
            <div class="caption lft ltt tp-caption start" data-x="800" data-y="180" data-speed="600" data-start="1000" data-easing="easeOutExpo" style="-webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 889.5px; top: -28px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;"> <%= image_tag("white_line.jpg", alt: "", style: "width: 290px; height: 3px;") %>
            </div>
                        <div class="medium_text tp-caption start" data-x="480" data-y="180" data-speed="600" data-start="1200" data-easing="easeOutExpo" style="font-size: 32px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; -webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 514.5px; top: -45px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;">É VANTAJOSO
                        </div>
                        <div class="very_large_text tp-caption start" data-x="80" data-y="260" data-speed="600" data-start="1500" data-easing="easeOutExpo" style="font-size: 81px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; -webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 159.5px; top: 1063px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;">EM POUCAS UTILIZAÇÕES
                        </div>
            <div class="large_text tp-caption start" data-x="82" data-y="360" data-speed="600" data-start="1700" data-easing="easeOutExpo" style="font-size: 50px; padding: 0px; margin: 0px; border-width: 0px; line-height: 20px; white-space: nowrap; min-width: 0px; min-height: 0px; -webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 229.5px; top: 1063px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;">VOCÊ ECONOMIZA MAIS DO QUE PAGOU
                        </div>
            <div class="caption lfb ltb tp-caption start" data-x="75" data-y="435" data-speed="600" data-start="1800" data-easing="easeOutExpo" style="-webkit-transform: scale(1, 1) rotate(0deg); opacity: 1; left: 164.5px; top: 1063px; visibility: visible; transition: -webkit-transform 400ms ease; -webkit-transition: -webkit-transform 400ms ease;"> <%= image_tag("white_big_line.jpg", alt: "", style: "width: 1010px; height: 3px;") %>
            </div>
              </li>         
            </ul>
          </div>
        </div>
      </div>
  <!-- Start Header -->

  <header class="site-header" id="sticky-nav">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="logo"> <a href="index.html"> <%= image_tag("logo@2x.png", alt: "Societo Clube de Vantagens") %> </a> </h1>
        </div>
        <div class="col-md-9">
          <button class="mmenu-toggle"><i class="fa fa-bars fa-lg"></i></button>
          <nav class="main-menu">
          <ul class="sf-menu" id="main-menu">
            <li> <%= link_to 'Societo', root_path %> </li>
            <li> <%= link_to 'Filie-se', nossos_planos_path %></li>
            <li> <%= link_to '#' do %> Cidades <%= icon('angle-down') %> <% end %>
              <ul class="dropdown">
                <li> <%= link_to 'Belo Horizonte', cidades_belo_horizonte_path %>
                    <ul class="dropdown">
                        <li> <%= link_to 'Societo Beer &amp; Wine', '#' %> </li>
                        <li> <%= link_to 'Societo Gourmet', '#' %> </li>
                        <li> <%= link_to 'Societo Night', '#' %> </li>
                        <li> <%= link_to 'Societo Shopping', '#' %> </li>
                    </ul>
                </li>
              </ul>
            </li>
            <li> <%= link_to 'Fale Conosco', contatos_path %> </li>
            <li> <%= link_to 'FAQ', faq_path %> </li>
          </ul>
        </nav>
        </div>
      </div>
    </div>
    <nav class="mobile-menu">
      <div class="container">
        <div class="row"></div>
      </div>
    </nav>
  </header>
  <!-- End Header --> 
  <!--Texto-->
      <div class="pages" id="Sobre">
        <div class="padding-tb45 text-align-center lgray-color">
          <div class="container">
            <div class="row">
              <div class="col-md-12" data-appear-animation="fadeIn" data-appear-animation-delay=".2">
                <h3 class="uppercase short">Conheça o Societo</h3>
                <hr class="thick">
                <div class="clearfix"></div>
                <p class="col-md-10 col-md-offset-1 big">O Societo foi criado para encorajar as pessoas a saírem para lugares sofisticados com mais frequência.</p>
                <div class="col-md-6 col-md-offset-3">
                <i class=" moveto-sec3 ic-sm fa fa-angle-down fa-2x"></i>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!--QUADROS-->
      <div class="pages" id="Quadros1">
            <div class="padding-tb45">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <section class="features text-align-center"> <i class="ic-lg fa fa-star-o fa-3x"></i>
                <h3>Sofisticado</h3>
                <p class="md">Estabelecimentos de alta qualidade.</p>
              </section>
            </div>
            <div class="col-md-4 col-sm-4">
              <section class="features text-align-center"> <i class="ic-lg fa fa-cogs fa-3x"></i>
                <h3>Simples</h3>
                <p class="md">Você só precisa mostrar seu CPF.</p>
              </section>
            </div>
            <div class="col-md-4 col-sm-4">
              <section class="features text-align-center"> <i class="ic-lg fa fa-lock fa-3x"></i>
                <h3>Exclusivo</h3>
                <p class="md">As ofertas são apenas para membros.</p>
              </section>
            </div>
          </div>
              </div>
      </div>
      
      <!--Quadros-->
      <div class="pages" id="Quadros2">
       <div class="padding-tb75">
        <div class="container text-align-center">
          <div class="row">
            <div class="col-md-3" data-appear-animation="fadeIn" data-appear-animation-delay="50">
              <section class="features"> <span class="features-icon"><i class="fa fa-users"></i></span>
                <h4>Filie-se ao Societo</h4>
                <p>Para se filiar é muito fácil! 
                  <a href="planos.html">Conheça os nosso planos e realize o cadastro.</a></p>
                <a href="planos.html"><i class="fa fa-plus fa-lg"></i></a> </section>
            </div>
            <div class="col-md-3" data-appear-animation="fadeIn" data-appear-animation-delay="100">
              <section class="features"> <span class="features-icon"><i class="fa fa-chevron-circle-up"></i></span>
                <h4>Vá a um estabelecimento convencionado</h4>
                <p>Escolha dentre as variadas opções. Verifique se o estabelecimento escolhido aceita o uso do Societo no dia desejado.</p>
                <a href="belo-horizonte.html"><i class="fa fa-plus fa-lg"></i></a> </section>
            </div>
            <div class="col-md-3" data-appear-animation="fadeIn" data-appear-animation-delay="150">
              <section class="features"> <span class="features-icon"><i class="fa fa-credit-card"></i></span>
                <h4>Apresente seu documento com CPF</h4>
                <p>Assim que chegar, diga que é filiado ao Societo e apresente seu documento com CPF quando for pagar a conta.</p>
                 </section>
            </div>
            <div class="col-md-3" data-appear-animation="fadeIn" data-appear-animation-delay="200">
              <section class="features"> <span class="features-icon"><i class="fa fa-thumbs-o-up"></i></span>
                <h4>Saboreie generosos descontos</h4>
                <p>Pronto, agora você já pode usufruir dos benefícios.</p>
                 </section>
            </div>
            </div>
            <div class="col-md-6 col-md-offset-3">
            <p></p>
                <i class=" moveto-sec5 ic-sm fa fa-angle-down fa-2x"></i>
                </div>
        </div>
      </div>
      </div>
      <!--SOBRE-->
      <div class="pages" id="Sobre">
      <section class="parallax parallax1" style="background-image:url(<%= image_path('money.jpg') %>);">
      <div class="black-overlay padding-tb75">
       <div class="container margin-30">
        <div class="row">
          <div class="col-md-12 text-align-center">
            <h1 class="color-text">O Societo é o clube de vantagens mais completo do Brasil</h1>
            <h4 class="heading-hr no-strong accent-color-text margin-50"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></h4>
          </div>
          <div class="col-md-4 col-sm-4">
            <p class="drop-caps color-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et elementum erat, ut luctus mi. Quisque consequat risus quis tincidunt fringilla. Ut sed rhoncus metus, in rhoncus dolor. Integer tempor ligula est, sed luctus metus tempus a. Pellentesque tempor libero et arcu bibendum mollis. Aliquam eu odio eget diam egestas euismod vel sed orci. Aenean placerat, massa sit amet.</p>
          </div>
          <div class="col-md-4 col-sm-4 color-text">
            <p>Quisque blandit dolor risus, sed dapibus dui facilisis sed. Donec eu porta elit. Aliquam porta sollicitudin ante, ac fermentum orci mattis et. Phasellus ac nibh eleifend, sagittis purus nec, elementum massa. Quisque tincidunt sapien a sem porttitor, id convallis dolor pharetra. Donec tempor cursus facilisis. Ut eu elementum arcu, vel hendrerit nisi. Cras sed euismod nibh, a adipiscing nunc. Nunc vitae puru.</p>
          </div>
          <div class="col-md-4 col-sm-4"> 
            <!-- Start Accordion -->
            <div class="accordion" id="accordionArea">
              <div class="accordion-group panel">
                <div class="accordion-heading accordionize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea"> Societo Beer &amp; Wine <i class="fa fa-angle-down"></i> </a> </div>
                <div id="oneArea" class="accordion-body collapse">
                  <div class="accordion-inner"> O Societo Beer &amp; Wine oferece aos apaixonados por <strong>cerveja e vinho</strong> decontos nos melhores estabelecimentos da cidade. 
                          Você pode usar o Societo em <strong>restaurantes e chopperias</strong> e todas as ofertas te garantem <strong>produtos em dobro</strong>
                            <br>Por exemplo: 6 chopps pelo preço de 3 ou 2 taças de vinho pelo preço de 1.</p>
                            </div>
                </div>
              </div>
              <div class="accordion-group panel">
                <div class="accordion-heading accordionize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#twoArea"> Societo Gourmet <i class="fa fa-angle-down"></i> </a> </div>
                <div id="twoArea" class="accordion-body collapse">
                  <div class="accordion-inner">Para os amantes da <strong>gastronomia</strong>, o Societo Gourmet oferece <strong>descontos de 30% a 50%</strong> no valor total da conta, <Strong>excluindo bebidas e sobremesas.</Strong></div>
                </div>
              </div>
              <div class="accordion-group panel">
                <div class="accordion-heading accordionize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#threeArea">Societo Night <i class="fa fa-angle-down"></i> </a> </div>
                <div id="threeArea" class="accordion-body collapse">
                  <div class="accordion-inner">Se você curte uma <strong>balada</strong>, o Societo Night oferece descontos de <strong>no mínimo 30%</strong> na entrada dos melhores clubs de sua cidade.
                          E como muitas vezes a noite rende mais que o esperado, você também poderá usufruir de descontos 
                          de <strong>no mínimo 30%</strong> em <Strong>móteis</Strong>. </div>
                </div>
              </div>
                 <div class="accordion-group panel">
                <div class="accordion-heading accordionize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordionArea" href="#fourArea"> Societo Shopping <i class="fa fa-angle-down"></i> </a> </div>
                <div id="fourArea" class="accordion-body collapse">
                  <div class="accordion-inner"> Para queles que amam fazer umas <strong>comprinhas</strong>, o Societo Shopping dará um upgrade no seu carrinho, 
                          oferecendo desconto <strong>mínimo de 15%</strong> nas suas lojas favoritas. </div>
                </div>
              </div>
            </div>
            <!-- End Accordion --> 
          </div>
        </div>
                    <div class="col-md-6 col-md-offset-6">
            <p></p>
                <button class="btn btn-default btn-xs moveto-sec6 margin-60"><i class="fa fa-angle-down fa-2x"></i></button>
                                
                </div>
  </div>
    </div>
      </section>
      </div>
      <!--CONTADOR--> 
      <div class="pages" id="Contador">    
      <section class="counters padding-tb45 accent-color text-align-center hidden-sm hidden-xs" data-appear-animation="bounceInUp" data-appear-animation-delay="200">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="fact-ico"> <i class="fa fa-users fa-4x"></i> </div>
              <div class="clearfix"></div>
              <div class="timer" data-perc="9000"> <span class="count">200</span> </div>
              <div class="clearfix"></div>
              <span class="fact">Membros</span> </div>
            <div class="col-md-3">
              <div class="fact-ico"> <i class="fa fa-home fa-4x"></i> </div>
              <div class="clearfix"></div>
              <div class="timer" data-perc="96"> <span class="count">96</span> </div>
              <div class="clearfix"></div>
              <span class="fact">Estabelecimentos</span> </div>
            <div class="col-md-3">
              <div class="fact-ico"> <i class="fa fa-money fa-4x"></i> </div>
              <div class="clearfix"></div>
              <div class="timer" data-perc="1500"> <span class="count">400000</span> </div>
              <div class="clearfix"></div>
              <span class="fact">R$ Economizados</span> </div>
            <div class="col-md-3">
              <div class="fact-ico"> <i class="fa fa-beer fa-4x"></i> </div>
              <div class="clearfix"></div>
              <div class="timer" data-perc="1400"> <span class="count">1400</span> </div>
              <div class="clearfix"></div>
              <span class="fact">Cervejas grátis</span> </div>
              <div class="col-md-2">
            <h5 class="verde"><p>*números ilustrativos</p></h5>
              </div>
          </div>
        </div>
      </section>
      </div>
      
      <div class="pages" id="Parceiros"> 
      <header class="heading-fs-bg light-bg lgray-color color-text text-align-center margin-0 bg_pictogram">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h4 class="moveto-sec7">Veja onde você poderá usufruir dos benefícios</h4>
            </div>
          </div>
        </div>
      </header>
      </div>
      <!-- Portfolio Plus Filters -->
      <div class="isotope"> 
        <!-- Portfolio Wrap -->
        <div class="portfolio-container" data-columns="4"> 
          <!-- Portfolio Item  -->
          <div class="portfolio-item branding photography">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Choco Magic" data-rel="prettyPhoto[galname]" href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Choco Magic</span> <span class="project-categories">Image Popup</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item design web">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Red Pollard" href="portfolio-single-standard.html"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Red Pollard</span> <span class="project-categories">Portfolio Page</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item branding photography">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Banana Monkey" data-rel="prettyPhoto[galname]" href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Banana Monkey</span> <span class="project-categories">Image Popup</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item web">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Mood Swings" data-rel="prettyPhoto[galname]" href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Mood Swings</span> <span class="project-categories">Image Popup</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item videography">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Happy Fishy" href="portfolio-single-standard.html"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Happy Fishy</span> <span class="project-categories">Portfolio Page</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item branding web">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER",alt: "Portfolio 1") %> </div>
            <a title="To the Sky" data-rel="prettyPhoto[galname]" href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">To the Sky</span> <span class="project-categories">Image Popup</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item branding web">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Card Players" href="portfolio-single-standard.html"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Card Players</span> <span class="project-categories">Portfolio Page</span> </span> </span> </a> </div>
          <!-- Portfolio Item  -->
          <div class="portfolio-item branding web">
            <div class="portfolio-image"> <%= image_tag("http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER", alt: "Portfolio 1") %> </div>
            <a title="Green Universe" data-rel="prettyPhoto[galname]" href="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER"> <span class="project-overlay"> <span class="project-info"> <span class="zoom-icon"><i class="fa fa-plus fa-2x"></i></span> <span class="project-name">Green Universe</span> <span class="project-categories">Image Popup</span> </span> </span> </a> </div>

        </div>
        <!--/Portfolio Wrap --> 
      </div>
      <!--/Portfolio Plus Filters -->
      <footer class="heading-fs-bg lgray-color no-shadow margin-50">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-1">
              <h2 class="no-strong margin-0">Gostou do que viu? Tem muito mais!</h2>
            </div>
            <div class="col-md-2"> <a class="btn btn-primary" href="portfolio-full-width.html">Veja todos parceiros</a> </div>
          </div>
        </div>
      </footer>



      <div class="pages" id="pricing">
        <div class="padding-tb75 lgray-color">
          <div class="container margin-30">
            <div class="row">
              <div class="col-md-12 text-align-center">
                <h3 class="uppercase short">Planos</h3>
                <hr class="thick">
                <div class="clearfix"></div>
                <p class="col-md-10 col-md-offset-1 gray-color-text margin-70 big">O Societo está oferencendo um super desconto para um número limitado de associados. Não perca, essa promoção pode acabar a qualquer momento.</p>
              </div>
              <div class="pricing-table three-cols margin-0">
                <div class="pricing-column " data-appear-animation="rotateIn" data-appear-animation-delay="100">
                  <h3>Mensal</h3>
                  <div class="pricing-column-content">
                    <p></p>
                  <span class="interval"></span>
                    <h4> <span class="dollar-sign">R$</span> 16,99 </h4>
                    <span class="interval">Por Mês</span>
                    <ul class="features">
                      <li>Todos os Societos</li>
                      <li>Plano <strong>mensal</strong></li>
                      <li><strong>Débito automático</strong> via <strong>Pagseguro</strong></li>
                      <li>Uso ilimitado</li>
                      <li>Retorno do investimento logo nas primeiras utilizações</li>      
                    </ul>
                    <%= link_to 'Sign up now!', cadastre_se_path(plano: 'MENSAL'), class:"btn btn-primary" %> </div>
                </div>
                
                <div class="pricing-column highlight accent-color" data-appear-animation="rotateIn" data-appear-animation-delay="100">
                                    <h3>Plano Anual<span class="highlight-reason">PROMOÇÃO</span></h3>
                  <div class="pricing-column-content">
                    <p></p>
                    <span class="interval">R$<strike>12,99</strike></span>
                    <h4> <span class="dollar-sign">R$</span> 7,99 </h4>
                    <span class="interval">Por Mês</span>
                    <ul class="features">
                      <li>Todos os Societos</li>
                      <li>Plano de <Strong>12 meses</Strong></li>
                      <li>Pagamento via <strong>Pagseguro</strong></li>
                      <li>Uso ilimitado</li>
                      <li>Retorno do investimento logo nas primeiras utilizações</li>    

                    </ul>
                    
                    <%= link_to 'Sign up now!', cadastre_se_path(plano: 'ANUAL'), class:"btn btn-primary" %> </div>
                </div>
                <div class="pricing-column" data-appear-animation="rotateIn" data-appear-animation-delay="100">
                  <h3>Plano Amigo</h3>
                  <div class="pricing-column-content">
                    <p></p>
                    <span class="interval">Em Breve</span>
                    <h4> <span class="dollar-sign">R$</span> 19,99 </h4>
                    <span class="interval">Por Mês</span>
                    <ul class="features">
                      <li>Todos os Societos</li>
                      <li>Plano de <Strong>12 meses</Strong></li>
                      <li>Pagamento via <strong>Pagseguro</strong></li>
                      <li>Uso ilimitado</li>
                      <li>Retorno do investimento logo nas primeiras utilizações</li>
                      <li>Cadastro de <strong>dois CPFs</strong></li>
                      <li>Economia de <Strong>33%</Strong> no segundo plano</li>  
                      </ul>
                    <%= link_to 'Sign up now!', cadastre_se_path(plano: 'AMIGO'), class:"btn btn-primary" %> </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<script>
  jQuery(document).ready(function(){
    $('body').pageScroller({
      navigation: '.pageScrollerNav',
      scrollOffset: -55,
    });
    jQuery('#map_canvas').gMap({
        controls: {
          panControl: false,
          zoomControl: true,
          mapTypeControl: true,
          scaleControl: false,
          streetViewControl: false,
          overviewMapControl: false
        },
        address: "1600 Amphitheatre Parkway, Mountain View, CA 94043, United States",
        zoom: 13,
        mapcolor: '#02759b',
        markers:[
          {
            address: "1600 Amphitheatre Parkway, Mountain View, CA 94043, United States",
            html: "Tentered",
            icon: {
              image: "images/map-pin.png",
              iconsize: [34, 50],
              iconanchor: [12, 46]
            },
            popup: false
          }
        ]
      });
    });
</script> 